@import '@/app/variables.scss';

.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
  color: $black;
  text-align: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: $font-size-xs;
  font-weight: 300;
  line-height: 160%;
}

.pageNumbers {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
}

.results {
  min-width: 150px;
  white-space: nowrap;

  @media (max-width: $breakpoint-lg) {
    white-space: normal;
  }
}