@import "@/app/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.snapInstallButton {
  width: 100%;
  background-color: $color-primary;
  border: none;
  cursor: pointer;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: $primary-font;
  font-size: $font-size-md;
  line-height: $font-lh-sm;
  margin: 4px 2px;
  padding: 12px 24px;
  font-weight: 400;
  transition-duration: 0.4s;
  border-radius: 4px;

  @media #{xl-up()} {
    width: 42%;
  }

  &:hover {
    background-color: $color-primary-light;
  }

  &:disabled {
    background-color: $color-grey-light;
    color: $color-grey-dark;
    cursor: not-allowed;
  }
}

.errorMessage {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  font-style: italic;
}

