@import '@/app/variables.scss';

.domainDetailSection {
  display: flex;
  width: fit-content;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 33px;
}

.search {
  color: $color-primary;
  text-align: center;
  font-size: $font-lh-xxl;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contractsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}