@import "@/app/variables.scss";

.snapSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: $color-secondary-lighter;
  padding: 60px 24px;

  @media #{lg-up()} {
    padding: 60px 135px 100px 135px;
  }

  .tag {
    width: fit-content;
    font-size: $font-size-sm;
    font-weight: 500;
    line-height: $font-lh-md;
    text-align: left;
    background: #FFF;
    color: $color-primary;
    padding: 4px 8px;
    border-radius: 4px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;

  @media #{lg-up()} {
    flex-direction: row;
    gap: 16px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 2;

  @media #{sm-up()} {
    max-width: 829px;
  }

  .title {
    font-size: $font-size-xl;
    line-height: $font-lh-xl;
    font-weight: 700;
    text-align: left;
    color: $color-primary;

    @media #{sm-up()} {
      font-size: $font-size-xxl;
      line-height: $font-lh-xxl;
    }
  }

  .description {
    font-size: $font-size-lg;
    line-height: $font-lh-lg;
    font-weight: 300;

    text-align: left;
    color: $color-black-digital;

    p {
      color: $color-black-digital;
      font-size: $font-size-lg;
      line-height: $font-lh-lg;

      strong {
        color: $color-primary;
        font-weight: 700;
      }
    }
  }
}

.metamaskLogo {
  display: flex;
  justify-content: center;
  align-items: center;

  .sciLogo {
    width: 100%;
    position: relative;
    padding: 40px 38px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      //width: 50%;
      max-width: 100%;
      height: auto;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 50%; // Adjust to your desired width
      left: 50%; // Start positioning from the center
      transform: translateX(-50%); // Center the divider horizontally
      right: 0;
      height: 1px;
      padding: 0 42%;
      background-color: $color-primary; // Adjust this color to your preference
    }
  }
}

.contactUs{
  color: $color-primary;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;

  @media #{sm-up()} {
    font-size: 32px;
    line-height: $font-lh-xl;
  }

  strong {
    font-weight: 700;
  }

  a {
    color: $color-primary;
    text-decoration: underline;

    &:hover {
      color: $color-primary-light;
    }
  }
}