@import '@/app/variables';

.removeButton {
  position: relative;
  border: none;
  background: none;
  padding: 4px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(255, 0, 0, 0.30);
  }
}

.actionIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  z-index: 1;
}