@import '@/app/variables';

.searchContainer {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid $color-grey-light;
  height: 36px;
  gap: 8px;
  width: 240px;
  padding: 10px 8px 10px 16px;
}

.searchIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 12px;
}

.searchInput {
  border: none;
  outline: none;
  flex: 1;
  font-family: $primary-font;
  font-size: $font-size-md;
  color: $color-grey-dark;
  font-weight: 300;
  background: transparent;

  &::placeholder {
    color: $color-grey-dark;
  }
}