@import "@/app/variables.scss";

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 24px;
  margin-bottom: 10px;
  gap: 42px;

  @media #{xl-up()} { // Hide the burger icon on larger screens
    padding: 80px 470px 80px 135px;
    margin-bottom: 40px;
    gap: 29px;
  }

  p {
    color: $color-primary;
    font-size: 22px;
    line-height: 33px;
    font-weight: 400;

    @media #{sm-up()} {
      font-size: 26px;
      line-height: 40px;
    }

    strong {
      font-weight: 700;
    }
  }

  .highlighted {
    color: $color-tertiary;
    font-weight: 700;
    -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
    animation: 1.5s highlight 1.5s 1 normal forwards;
    background-color: transparent;
    background: linear-gradient(90deg, $attention-lighter 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
  }

  @-webkit-keyframes highlight {
    to {
      background-position: 0 0;
    }
  }

  @keyframes highlight {
    to {
      background-position: 0 0;
    }
  }
}